* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

/* Border raduis */

.rounded {
    border-radius: 0.8rem !important;
}

/* colors */
.color-gray {
    color: #e4e4e4;
}

.bg-gray {
    background-color: #CCCBD1;
}

/* text sizes */

.text-xs {
    font-size: 10px;
}

.text-sm {
    font-size: 12px;
}

.text-md {
    font-size: 22px;
}

.text-normal {
    font-size: 16px;
}

/* custom width && height */
.w-5 {
    width: 1rem;
}

.w-10 {
    width: 2rem;
}